/* Header.jsx */
.retreat-header {
  position: relative;
  width: 100%;
  height: 300px;
  background: url("/public/img/26년\ 수련회\ 포스터.webp") top/cover no-repeat;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  text-align: center;
  border-radius: 12px;
}

.title {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.3em;
  margin-bottom: 15px;
  color: #e0f7fa;
}

.verse {
  font-size: 1em;
  line-height: 1.5;
  font-style: italic;
}

.reference {
  font-size: 0.9em;
  color: #ccc;
}

/* src/index.css */
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  background: #f5faff;
}
.p-4 {
  margin: 14px;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}
.home-header {
  text-align: center;
  margin-bottom: 10px;
}
.home-header h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #2c3e50;
}
.home-header p {
  margin: 4px 0;
  color: #555;
}
.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}
.card {
  width: 140px;
  height: 140px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  color: #333;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
  background: #e6f2ff;
}
.emoji {
  font-size: 2em;
  margin-bottom: 10px;
}
.home-footer {
  text-align: center;
  font-size: 0.9em;
  color: #666;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

/* 푸터 */
.footer {
  padding: 15px;
  font-size: 0.9em;
  color: #666;
  border-top: 1px solid #ddd;
}
*/

/* 반응형 (모바일 화면) */
@media (max-width: 480px) {
  .menu {
    gap: 15px;
    margin-top: 30px;
  }
  .icon {
    width: 70px;
    height: 70px;
    font-size: 1.8em;
  }
  .header {
    font-size: 1.3em;
  }
}

/* ProgramPage.jsx webp 이미지 파일  */
.responsive-img {
  width: 100%;
  height: auto;
  max-width: 600px; /* 최대 크기 제한 */
  display: block;
  margin: 0 auto; /* 가운데 정렬 */
}
